<!DOCTYPE html>
	<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/styles.css">	
		<title>PHP Game Template</title>
	</head>
	<body>
		<div class="container">
			<div class="top">
				<h1 class="geme-caption">Название игры</h1>
			</div>
			
			<div class="name"><p>Главная<br>- - -</p></div>
			
			<div class="content">
				<p>Шаблон классической экономической игры на PHP</p>
			</div>
			
			<div class="line">
				<a href="welcome.html">Вход</a>
			</div>	

			<div class="line">
				<a href="registration.html">Регистрация</a>
			</div>

			<div class="copyright">
				<span>&copy; 2012-<script>document.write(new Date().getFullYear());</script> Все права защищены. Возрастное ограничение 12+</span>	
			</div>
		</div>					
	</body>
</html>